<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shipping Cost Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <script src="main.js"></script>
</head>
<body>
    <h1>Total Shipping Cost</h1>
   <p> The cost of your shipment based on the information entered is: @Model.ShippingCost
    </p>
</body>
</html>
